@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');


@font-face {
    font-family: "Backhand";
    src: url('./resources/BackhandRegular-51RnB.ttf');
}

@font-face {
    font-family: "Asap";
    src: url('./resources/Asap-VariableFont_wdth,wght.ttf');
}

html {
    background-color: gray;
    caret-color: transparent;
}

body {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: baseline;
}

/* Header Starts */
#header-area {
    width: auto;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    height: 20rem;
    display: inline-flex;
    z-index: 2;
    flex-wrap: wrap;
    flex-direction: column;
}
#header-area img {
    margin-left: 2rem;
}
.welcome h2:nth-of-type(1) {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 0.5rem;
    letter-spacing: 0.4rem;
    margin-left: 67rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(95, 29, 13);
    bottom: 3rem;
    line-height: 45px;
    border-bottom: 3px solid rgb(95, 29, 13);
}

#header-area::before {
    content: '';
    position: absolute;
    z-index: 0;
    height: 20rem;
    background-image: url('./resources/Wall.jpg');
    background-size: cover;
    opacity: 0.3;
    width: 100%;
}

.mypic {
    left: 18rem;
    height: 20rem;
    position: relative;
    z-index: 1;
}

.instagram,
.linkedin,
.twitter {
    width: 2rem;
    height: 2rem;
    float: right;
}

.instagram {
    margin: 1rem 1rem 0 0;
    position: relative;

}

.twitter {
    position: relative;
    top: 5rem;
    left: 2.2rem;
}

.linkedin {
    position: relative;
    top: 9rem;
    left: 4.3rem;
}

#header-area h1 {
    position: relative;
    color: rgb(95, 29, 13);
    font-size: 1.5rem;
    flex: 1;
    display: flex;
    font-family: backhand;
    word-spacing: 2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-left: 25rem;
    padding-top: 3rem;
    width: fit-content;
}

.c1 {
    transform: rotate(-12deg);
    padding-right: 1rem;

}

.c2 {
    transform: rotate(5deg);
    width: 12rem;
}

.c3 {
    transform: rotate(-10deg);
    padding-top: 1.5rem;
    width: 10rem;
}

.c4 {
    transform: rotate(-5deg);
    text-decoration: underline;
    width: fit-content;
    margin-top: 0.5rem;
}

.c1::before {
    content: "\00a0  \00a0";
    background-image: url('./resources/open-book.png');
    background-size: 2rem;
    display: inline-block;
    width: 3rem;
    height: 4rem;
    background-repeat: no-repeat;
}

.c2::before {
    content: "\00a0  \00a0";
    background-image: url('./resources/idea.png');
    background-size: 2rem;
    display: inline-block;
    width: 3rem;
    height: 4rem;
    background-repeat: no-repeat;
}

.c3::before {
    content: "\00a0  \00a0";
    background-image: url('./resources/recycle-bin.png');
    background-size: 2rem;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
}

.c4::before {
    content: "\00a0  \00a0";
    background-image: url('./resources/loop.png');
    background-size: 2rem;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    rotate: 20deg;
}

/* SideNav starts here */
#side-nav {
    position: fixed;
    display: flex;
    height: 100%;
    width: 18rem;
    background-color: rgb(37, 37, 37);
    z-index: 3;
    justify-content: center;
    flex-wrap: wrap;
}

.newsletter {
    color: yellow;
    font-size: 1.5rem;
    text-align: center;
    font-family: poppins;
    margin-top: 5rem;
    padding: 1rem;
    height: fit-content;
    width: 100%;
}

.newsletter-word {
    font-weight: 600;
    line-height: 3rem;
    color: aliceblue;
}

input[type="text"] {
    width: 12rem;
    height: 1.5rem;
    margin-top: 1rem;
    text-indent: 0.5rem;
}

.about {
    height: fit-content;
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: white;
    font-family: poppins;
    margin-top: 38rem;
    font-size: 1.5rem;
}

.socials {
    border: 0.2rem solid white;
    border-radius: 20%;
    padding: 0.3rem;
    cursor: pointer;
}

.about-me {
    padding: 0.3rem;
    cursor: pointer;
}

/* content starts */
content {
    display: flex;
    width: 100%;
    justify-content: end;
    background-image: url('./resources/background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.image-text,
.image-2,
.image-3 {
    height: 30rem;
    width: 20rem;
}

.image-text:nth-of-type(1) {
    margin: 40px 40px 40px 40px;

}

.image-text:nth-of-type(2) {
    margin: 100px 40px 40px 40px;
}
.image-2 {
    margin: 140px 40px 40px 40px;
}
.image-3 {
    margin: 180px 40px 40px 40px;

}
.image-text {
    font-size: 1.2rem;
    line-height: 2.7rem;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(109, 106, 102, 0.089);
    height: 31rem;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    word-spacing: 0.8rem;
    z-index: 1;
}
.image-text:nth-of-type(2) h3{
    line-height: 2.8rem;
}
.image-text h1 {
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 15px;
    color:rgb(95, 29, 13);
}

/* footer begins */
footer {
    display: inline-flex !important;
    height: 2rem;
    color: white;
    justify-content: space-around;
}

footer h3 {
    margin-top: 0.5rem;
}